body {
  background-color: rgb(233, 99, 188);
}
h1{
  color: rgba(255, 0, 0, 0.979);
}
.background-green {
  background-color: rgba(128, 255, 0, 0.979);
}
#example {
  font-size: 45px;
}
p {
  color: rgba(5, 5, 231, 0.979);
}
.background-pink {
  background-color: rgb(255, 192, 192);
}
#example1 {
  font-size: 30px;
}
article {
  color: rgba(235, 6, 6, 0.979);
}
.background-green1 {
  background-color: rgb(5, 206, 5);
}
#example2 {
  font-size: 25px;
}
.cls {
  color: rgba(240, 10, 10, 0.979);
}
h2 {
  color: rgba(0, 0, 0, 0.979);
}
.cyan {
  background-color: rgba(8, 252, 252, 0.973);
}
#example3 {
  font-size: 24px;
}
.eye {
  background-color: rgba(252, 142, 8, 0.979);
}
#eye1 {
  font-size: 20px;
}
.background-blue {
  background-color: blue;
}
#example4 {
  font-size: 30px;
}
abbr {
  color: rgba(255, 255, 255, 0.993);
}
.background-black {
  background-color: black;
}
#example5 {
  font-size: 24px;
}
.background-blue1 {
  background-color: rgb(255, 0, 0);
}
#example6 {
  font-size: 25px;
}
section {
  font-size: 24px;
}
.background-red03 {
  background-color: red;
}
h3 {
  color: blue;
}
.background-pink {
  background-color: rgba(255, 192, 203, 0.986);
}
#example7 {
  font-size: 30px;
}
a {
  color: black;
}
.background-broun {
  background-color: rgb(190, 111, 8);
}
#example8 {
  font-size: 25px;
}
span {
  font-size: 25px;
}
div {
  font-size: 35px;
}
blockquote {
  background-color: rgb(57, 161, 83);
}
#ex {
  font-size: 30px;
}
q {
  background-color: indigo;
}
#exa {
  font-size: 25px;
}
.li {
  color: rgba(245, 245, 220, 0.979);
}
dl {
  font-size: 30px;
}
dt {
  color: chartreuse;
}
dd {
  color: blue;
}
#clll {
  font-size: 45px;
}
#to {
  font-size: 35px;
}
tfoot {
  color: red;
}
.ggg {
  color: rgb(3, 141, 3);
}
table {
  background-color: pink;
}